
<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="EqjjlTzrBtwrX4M6lWXgOIOG3FZGt7cW3Ys5BD9eT9cnUIkaIFL1v4yYtN/RPkn8fajirdqcSwLDqGbKctuPyg==" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" media="all" href="/assets/application-16605eadccf37c23d1fa922dd614f45b9f2cf25723e2e4032f1975b02ea7d11f.css" data-turbolinks-track="reload" />
    <script src="/assets/application-3ac47b8571e58aab844e8d0a988f0f55d8a16c1a75953470343f79cf1bec8528.js" data-turbolinks-track="reload"></script>
  </head>
  <body>


      <main>
        <p id="notice"></p>
        <div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing Book</h1>
  	<% if @book.errors.any? %>
      <%= @book.errors.count %>error prohibited this obj from being saved:
      <% @book.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>



  		<%= form_with model:@book, local:true do |f| %>
      <label for="book_title">Title</label>
      <%= f.text_field :title, autofocus: true, id:"inputName"%>
      <label for="book_opinion">Opinion</label>
      <%= f.text_area :body, autofocus: true, id:"inputName"%>
      <div>
      <%= f.submit "Update Book", class:"btn btn-success" %>
      </div>
      <% end %>


      <%= link_to "Show", book_path(@book) %> |
      <%= link_to "Back", books_path %>
  </div>
</div>
      </main>


  </body>
</html>